section > .container {
  width: 1170px;
  margin: auto;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 40% 23% 35%;
  gap: 10px;
  background-color: hsl(238, 96%, 50%);
}
.grid > div {
  background-color: rgb(220, 226, 232);
  padding: 20px 10px;
}
.borderB {
  border-bottom: 1px solid gray;
}
.borderD {
  border-top: 1px dashed rgb(1, 166, 192);
}
.timeline {
  grid-row: 1 / span 2;
  grid-column: 3;
}

/* 
h2 {
  border-bottom: solid 2px gray;
} */
.inOut {
  display: grid;
  grid-template-columns: 50% 50%;
}
.goal-icon {
  position: relative;
  padding-left: 70px;

  /* padding-right: px; */
}
.goal-icon::before {
  content: "";
  position: absolute;
  background-image: url("/icon/flag-checkered-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  width: 25px;
  height: 20px;
  margin-right: 20px;
}

.member-icon {
  padding-left: 70px;
  position: relative;
}
.member-icon::before {
  content: "";
  position: absolute;
  background-image: url("/icon/user-solid.svg");
  width: 25px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8a4fdc;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #272727;
}
.timeline-child {
  display: grid;
  grid-template-columns: 20% 70%;
  align-items: center;
  padding-left: 30px;
}
.question-icon {
  padding-left: 50px;
  position: relative;
}
.question-icon::before {
  content: "";
  position: absolute;
  background-image: url(/icon/circle-question-solid.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
